.avatar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: #58848f;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-size: 1.5em;
  color: #ffffff;
}