nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  font-family: 'Bungee', sans-serif; 
  color: #ffffff;
}

#right-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-arrow {
  color: #9dc6cd;
  font-size: 1.5em;
}
@media only screen and (min-width: 700px) and (max-width: 1023px) {
  .nav-arrow {
    color: #ffffff;
  }
}

@media only screen and (min-width: 300px) and (max-width: 699px) {
  #right-nav {
    color: #ffffff;
  }
  .nav-arrow {
    color: #ffffff;
  };
}