nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  background-color: #000000;
  font-family: 'Bungee', sans-serif; 
  color: #ffffff;
}

#right-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-arrow {
  color: #9dc6cd;
  font-size: 1.5em;
}