.new-tweet {
  margin: auto;
}

.error {
  display: none;
  color: red;
  font-size: 1em;
  text-align: center;
  border: 1px solid red;
  border-radius: 25px;
  margin: .25em;
  padding: .5em;
}

#tweet-text {
  width: 100%;
  border: none;
  border-bottom: 2px solid;
  resize: none;
  outline: none;
  background-color: inherit;
  color: rgb(0, 0, 0);

}

#form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25em;
  font-family: 'Bungee', sans-serif;
}

#form-footer button {
  background-color: #000000;
  color: #ffffff;
  border: none;
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .new-tweet {
  margin-top: 20px
  }
}