#tweet-container article {
  border: 2px solid rgb(255, 255, 255);
  margin: 1em 0 1em 0;
}
#tweet-container article:hover {
  border-radius: 0px;
  background: #a0cfd7;
  box-shadow:  40px 40px 800px #6b878b, 
               -25px -25px 50px #cfffff;
}

#tweet-container article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;

}

#tweet-container article header img {
  max-width: 75px;
  margin-right: 5%;
}

#tweet-container article header .left {
  display: flex;
  align-items: center;
}

#tweet-container article header .user-handle {
  visibility: hidden;
  color: teal;
}

#tweet-container article:hover header .user-handle {
  visibility: visible;
  color: teal;
}

#tweet-container article .tweet-body {
  border-bottom: 2px solid rgb(92, 107, 114);
  margin: 0 .5em 0 .5em;
  word-break: break-word;
}

#tweet-container article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  font-size: .6em;
}

#tweet-container article footer .icons {
  opacity: 0%;
}

#tweet-container article:hover footer .icons {
  opacity: 100%;
  color: teal;
}